body {
   	margin: 0;
	padding: 0;
	background: #0b0b0b;
	font-family: Source Sans Pro;
	font-weight: lighter;
}

.wrapper{
	display: flex;
	flex-direction: column;
	background: #0b0b0b;
	min-height: 100vh;	
}

nav{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-flex;	
}

nav ul li a{
	position: relative;
	padding: 16px 0 5px;
	margin: 0 25px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Source Sans Pro;
	font-size: 16px;
}

nav ul li a:hover{
	color: tomato;
	transition: .9s;
}

nav ul li a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%) scaleX(0);
	-webkit-transform: translateX(-50%) scaleX(0);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	width: 100%;
	height: 2px;
	background-color: rgba(255,255,255,0.9);
	-webkit-transition: transform 250ms;
	transition: transform 250ms;
}

nav ul li a:hover:after{
	-webkit-transform: translateX(-50%) scaleX(1);
	transform: translateX(-50%) scaleX(1);
}


.sectionTitulos{
	background-image: url(boliche.jpg);
	background-size: cover;
}
.Titulos{
	font-family: 'Castoro', serif;
	font-style: italic;
	letter-spacing: 5px;
	font-size: 56px;
	color: #000000;
}

.Parrafos{
	font-family: 'Castoro', serif;
	font-size: 32px;
	color: white;
	

}

ul{
	list-style-type: none;
	overflow: hidden; 
	
}

li{
	display: inline-block;
	width: 16%;
	position: static;
	font-size: 18px;
	float: left;
}



.imagenEventos{
		margin: auto;
		height: 40%;
		width: 40%;
	
}

ol{
	color: blue;
}

.cuadroPrincipal{
	background-color: white;
	border: solid 1px blue;
}

label {
	color: black;
}

.focoContacto {
	
   transition: all 2s; 

}

.focoContacto:focus{
	width: 100px;
   font-size: 20px;
}

.cuadrofield2{
	background-size: cover;
	background-image: url(fondo/fondo3.jpg);

	
}

table{
	margin: auto;
	width: 50%;
	float: none;
	display: inherit;
	position: relative;
}

td ol li{
	float: none;

}

.footer__color{
	color: white;
}

.footer__font{
	font-size: 14px;
}

.fieldsetUbicacion{
	
	margin: auto;
	width: 20%;
}

#grilla {
   display: grid;
   grid-template-areas:
     "header 	header 		header"
     "textoppal 	textoppal 	ubicacion"
     "footer 	footer 		footer";
   grid-template-rows: 1fr 1fr 1fr; 
   grid-template-columns: 20% auto 20%;

   grid-column-gap: 10px;
   grid-row-gap: 130px;

   height: 100vh;
   margin: 0;
}


header {
   grid-area: header;
}
footer {
   grid-area: footer;
}
section#textoppal {
   grid-area: textoppal;     
}
section#ubicacion {
   grid-area: ubicacion;     
}

.nav-link {
	background: 5px;
	color: red;

}
