*{
	margin: 0;
	padding: 0;

}

body {
   
   height:600px;
  
   padding: 1rem;
   font-family: 'Open Sans', sans-serif;
  	
  	background: rgb(0,212,255);
	background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 70%, rgba(9,9,121,1) 100%);	
	height:120vh;
	background-repeat: cover;
}





.sectionTitulos{
	background-image: url(boliche.jpg);
	background-size: cover;
}
.Titulos{
	font-family: 'Castoro', serif;
	font-style: italic;
	letter-spacing: 5px;
	font-size: 56px;
	color: #000000;
}

.Parrafos{
	font-family: 'Castoro', serif;
	font-size: 32px;
	color: white;
	

}

ul{
	list-style-type: none;
	overflow: hidden; 
	
}

li{
	display: inline-block;
	width: 16%;
	position: static;
	font-size: 18px;
	float: left;
}



.imagenEventos{
		margin: auto;
		height: 40%;
		width: 40%;
	
}

ol{
	color: blue;
}

.cuadroPrincipal{
	background-color: white;
	border: solid 1px blue;
}

label {
	color: black;
}

.focoContacto {
	
   transition: all 2s; 

}

.focoContacto:focus{
	width: 100px;
   font-size: 20px;
}

.cuadrofield2{
	background-size: cover;
	background-image: url(fondo/fondo3.jpg);

	
}

table{
	margin: auto;
	width: 50%;
	float: none;
	display: inherit;
	position: relative;
}

td ol li{
	float: none;

}

.footer__color{
	color: white;
}

.footer__font{
	font-size: 14px;
}

.fieldsetUbicacion{
	
	margin: auto;
	width: 20%;
}

#grilla {
   display: grid;
   grid-template-areas:
     "header 	header 		header"
     "textoppal 	textoppal 	ubicacion"
     "footer 	footer 		footer";
   grid-template-rows: 1fr 1fr 1fr; 
   grid-template-columns: 20% auto 20%;

   grid-column-gap: 10px;
   grid-row-gap: 130px;

   height: 100vh;
   margin: 0;
}


header {
   grid-area: header;
}
footer {
   grid-area: footer;
}
section#textoppal {
   grid-area: textoppal;     
}
section#ubicacion {
   grid-area: ubicacion;     
}

